{% extends "base.html" %}
{% load thumbnail %}
{% block title %} Страница пользователя {{ author.username }} {% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            {% include "user_data.html" with author=author following=following %}
            <!-- Начало блока с отдельным постом -->
            {% for post in page %}
                <div class="col-md-9">
                    {% include "post_item.html" with post=post %}
                </div>
            {% endfor %}
            {% if page.has_other_pages %}
                {% include "paginator.html" with items=page paginator=paginator %}
            {% endif %}
        </div>
    </main>
{% endblock %}