<div class="col-md-3 mb-3 mt-1">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a
                    href="{% url 'profile' author.username %}"> {{ author.get_full_name }} aka {{ author.username }}
            </a></h5>
            <hr>
            Подписчиков: {{ author.following.count }} <br/>
            Подписан: {{ author.follower.count }}
            <hr>
            Записей: {{ author.posts.count }}
            <hr>
            {% if author != user and user.is_authenticated %}
                {% if following %}
                    <a class="btn btn-light btn-sm"
                       href="{% url 'profile_unfollow' author.username %}" role="button">
                        Отписаться
                    </a>
                {% else %}
                    <a class="btn btn-primary btn-sm"
                       href="{% url 'profile_follow' author.username %}" role="button">
                        Подписаться
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>