<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}The Last Social Media You'll Ever Need{% endblock %} | Yatube</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'posts/bootstrap/dist/css/bootstrap.min.css' %}"/>
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'users/favicon.png' %}"/>
        <script src="{% static 'posts/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'posts/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        {% include 'nav.html' %}
        <main>
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
        {% include 'footer.html' %}
    </body>
</html>